<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Highcharts Map</title>

    <!-- Highcharts Map Dependencies -->
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/pattern-fill.js"></script>
    <script src="https://code.highcharts.com/maps/modules/accessibility.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- Inter font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap" rel="stylesheet">

    <script>
        var user_id = "data"; // Inject user ID (used in .js)
    </script>

</head>
<body>


    <div class="right-content">  
    <!-- Controls -->
    <div id="controls" class="slider-wrapper">
        <div class="slider-stack">
            <div class="slider-title">Evolution of US tariffs</div>
            <div class="slider-labels">
                <span><strong>Pre</strong> <br>January 2025</span>
                <span><strong>During</strong> <br>90-day pause</span>
                <span><strong>After</strong> <br>90-day pause</span>
            </div>
            <input type="range" id="tariff_structureSlider" min="1" max="3" step="1">
        </div>
    </div>

    <!-- Map Container -->
    <div id="container"></div>
    
    <div style="display:none"> 
        <p>Below is a markdown table which contains the same data as the interactive map on this page:
            However, for fully up-to-date data the user should visit the interactive map on https://bakered.github.io/dump_htmls/trump_tariffs/templates/simple_w_data.html
            |ISO3 |Country                          | average_tariff_01jan2025| average_tariff_13Nov2025|
            |:----|:--------------------------------|------------------------:|------------------------:|
            |ABW  |Aruba                            |                     0.09|                     2.94|
            |AFG  |Afghanistan                      |                     1.90|                    14.99|
            |AGO  |Angola                           |                     0.05|                     1.14|
            |AIA  |Anguilla                         |                     2.55|                    10.53|
            |ALB  |Albania                          |                     3.89|                    10.60|
            |AND  |Andorra                          |                     1.59|                    11.52|
            |ARE  |United Arab Emirates             |                     4.96|                    18.95|
            |ARG  |Argentina                        |                     1.31|                     9.98|
            |ARM  |Armenia                          |                     1.71|                    11.40|
            |ATG  |Antigua and Barbuda              |                     0.61|                     8.32|
            |AUS  |Australia                        |                     0.05|                     7.64|
            |AZE  |Azerbaijan                       |                     7.13|                    29.74|
            |BDI  |Burundi                          |                     1.50|                     2.46|
            |BEN  |Benin                            |                     0.00|                     8.31|
            |BFA  |Burkina Faso                     |                     0.45|                     2.77|
            |BGD  |Bangladesh                       |                    15.15|                    35.08|
            |BHR  |Bahrain                          |                     5.02|                    32.26|
            |BHS  |Bahamas                          |                     0.18|                     1.43|
            |BIH  |Bosnia and Herzegovina           |                     4.25|                    34.57|
            |BLR  |Belarus                          |                    21.21|                    23.62|
            |BLZ  |Belize                           |                     0.02|                     8.51|
            |BMU  |Bermuda                          |                     0.07|                     2.12|
            |BOL  |Bolivia                          |                     0.58|                     4.22|
            |BRA  |Brazil                           |                     2.12|                    23.75|
            |BRB  |Barbados                         |                     0.03|                     8.26|
            |BRN  |Brunei                           |                     1.00|                    19.74|
            |BTN  |Bhutan                           |                     1.45|                    11.10|
            |BWA  |Botswana                         |                     0.00|                    15.00|
            |CAF  |Central African Republic         |                     1.58|                    13.46|
            |CAN  |Canada                           |                     0.01|                    11.09|
            |CCK  |Cocos (Keeling) Islands          |                     1.09|                    10.61|
            |CHE  |Switzerland                      |                     0.61|                    11.96|
            |CHL  |Chile                            |                     0.14|                     6.19|
            |CHN  |China                            |                    12.29|                    37.24|
            |CIV  |Côte d`Ivoire                    |                     0.00|                     0.86|
            |CMR  |Cameroon                         |                     0.14|                     0.89|
            |COD  |Democratic Republic of the Congo |                     0.00|                     1.66|
            |COG  |Republic of the Congo            |                     0.00|                     1.48|
            |COK  |Cook Islands                     |                     0.81|                     4.46|
            |COL  |Colombia                         |                     0.81|                     5.71|
            |COM  |Comoros                          |                     0.11|                     1.18|
            |CPV  |Cabo Verde                       |                     0.34|                    24.75|
            |CRI  |Costa Rica                       |                     0.26|                    10.52|
            |CUB  |Cuba                             |                     0.05|                     0.07|
            |CUW  |Curaçao                          |                     0.13|                     5.24|
            |CXR  |Christmas Island                 |                     2.72|                    19.73|
            |CYM  |Cayman Islands                   |                     0.04|                    10.73|
            |DJI  |Djibouti                         |                     0.00|                     0.51|
            |DMA  |Dominica                         |                     0.30|                     6.01|
            |DOM  |Dominican Republic               |                     0.52|                    10.88|
            |DZA  |Algeria                          |                     0.89|                     3.46|
            |ECU  |Ecuador                          |                     1.32|                     7.10|
            |EGY  |Egypt                            |                    13.03|                    23.45|
            |ERI  |Eritrea                          |                     3.61|                    31.58|
            |ETH  |Ethiopia                         |                     6.49|                    11.14|
            |EUN  |European Union                   |                     1.08|                    10.93|
            |FJI  |Fiji                             |                     0.23|                    13.96|
            |FLK  |Falkland Islands                 |                     0.00|                     9.88|
            |FRO  |Faroe Islands                    |                     0.02|                    10.03|
            |FSM  |Micronesia                       |                     0.62|                     9.00|
            |GAB  |Gabon                            |                     0.84|                     2.14|
            |GBR  |United Kingdom                   |                     0.85|                     7.51|
            |GEO  |Georgia                          |                     4.86|                     9.15|
            |GHA  |Ghana                            |                     0.01|                     3.38|
            |GIB  |Gibraltar                        |                     0.86|                     7.92|
            |GIN  |Guinea                           |                     0.59|                     8.08|
            |GMB  |Gambia                           |                     0.20|                    10.45|
            |GNB  |Guinea-Bissau                    |                     2.01|                    13.78|
            |GNQ  |Equatorial Guinea                |                     0.00|                     0.06|
            |GRD  |Grenada                          |                     0.01|                     6.26|
            |GRL  |Greenland                        |                     0.01|                     9.77|
            |GTM  |Guatemala                        |                     1.20|                     7.60|
            |GUY  |Guyana                           |                     0.00|                     0.18|
            |HKG  |Hong Kong                        |                     1.10|                    10.05|
            |HMD  |Heard and McDonald Islands       |                     1.94|                    21.44|
            |HND  |Honduras                         |                     0.48|                    12.05|
            |HTI  |Haiti                            |                     0.23|                    10.10|
            |IDN  |Indonesia                        |                     5.92|                    24.33|
            |IND  |India                            |                     3.28|                    34.30|
            |IOT  |British Indian Ocean Territory   |                     0.97|                    11.50|
            |IRN  |Iran                             |                     0.00|                     9.42|
            |IRQ  |Iraq                             |                     0.11|                     0.19|
            |ISL  |Iceland                          |                     0.24|                    11.12|
            |ISR  |Israel                           |                     0.44|                    10.34|
            |JAM  |Jamaica                          |                     0.35|                     5.79|
            |JOR  |Jordan                           |                     0.04|                    14.69|
            |JPN  |Japan                            |                     1.80|                    17.41|
            |KAZ  |Kazakhstan                       |                     0.85|                     2.25|
            |KEN  |Kenya                            |                     0.14|                    26.24|
            |KGZ  |Kyrgyzstan                       |                     3.49|                    21.13|
            |KHM  |Cambodia                         |                     9.88|                    30.19|
            |KIR  |Kiribati                         |                     0.28|                    11.11|
            |KNA  |Saint Kitts and Nevis            |                     0.36|                    16.12|
            |KOR  |South Korea                      |                     0.59|                    21.53|
            |KWT  |Kuwait                           |                     0.11|                     0.26|
            |LAO  |Laos                             |                     1.78|                    37.93|
            |LBN  |Lebanon                          |                     3.86|                    11.87|
            |LBR  |Liberia                          |                     0.00|                     1.28|
            |LBY  |Libya                            |                     0.12|                     0.14|
            |LCA  |Saint Lucia                      |                     0.27|                     6.40|
            |LIE  |Liechtenstein                    |                     9.20|                    28.48|
            |LKA  |Sri Lanka                        |                    10.79|                    30.31|
            |LSO  |Lesotho                          |                     0.00|                    31.67|
            |MAC  |Macau                            |                     7.68|                    14.68|
            |MAR  |Morocco                          |                     0.68|                    10.91|
            |MCO  |Monaco                           |                     0.55|                     4.45|
            |MDA  |Moldova                          |                     4.94|                    29.65|
            |MDG  |Madagascar                       |                     0.03|                    20.80|
            |MDV  |Maldives                         |                     0.84|                     9.97|
            |MEX  |Mexico                           |                     0.07|                    14.13|
            |MHL  |Marshall Islands                 |                     0.09|                    10.01|
            |MKD  |North Macedonia                  |                     2.63|                    18.26|
            |MLI  |Mali                             |                     1.05|                    11.14|
            |MMR  |Myanmar (Burma)                  |                    10.13|                    49.40|
            |MNE  |Montenegro                       |                     0.78|                    11.28|
            |MNG  |Mongolia                         |                     2.03|                     8.83|
            |MOZ  |Mozambique                       |                     1.27|                    12.77|
            |MRT  |Mauritania                       |                     0.98|                    11.78|
            |MSR  |Montserrat                       |                     0.22|                    20.87|
            |MUS  |Mauritius                        |                     0.02|                    18.24|
            |MWI  |Malawi                           |                     0.00|                    11.84|
            |MYS  |Malaysia                         |                     1.05|                    12.77|
            |MYT  |Mayotte                          |                     3.73|                    25.69|
            |NAM  |Namibia                          |                     0.01|                    10.70|
            |NCL  |New Caledonia                    |                     0.14|                     1.54|
            |NER  |Niger                            |                     0.87|                     9.36|
            |NFK  |Norfolk Island                   |                     1.60|                     5.59|
            |NGA  |Nigeria                          |                     0.00|                     0.75|
            |NIC  |Nicaragua                        |                     0.25|                    14.73|
            |NIU  |Niue                             |                     0.11|                     8.32|
            |NOR  |Norway                           |                     0.96|                    10.38|
            |NPL  |Nepal                            |                     1.88|                    11.75|
            |NRU  |Nauru                            |                     2.42|                    28.67|
            |NZL  |New Zealand                      |                     1.49|                    13.34|
            |OMN  |Oman                             |                     4.85|                    20.62|
            |PAK  |Pakistan                         |                     9.97|                    28.86|
            |PAN  |Panama                           |                     0.49|                     5.90|
            |PER  |Peru                             |                     0.13|                     7.74|
            |PHL  |Philippines                      |                     2.00|                    16.60|
            |PLW  |Palau                            |                     0.00|                     8.26|
            |PNG  |Papua New Guinea                 |                     0.03|                     1.59|
            |PRK  |North Korea                      |                    77.81|                    77.81|
            |PRY  |Paraguay                         |                     6.57|                    13.18|
            |PSE  |West Bank and Gaza               |                     0.26|                    10.49|
            |PYF  |French Polynesia                 |                     0.29|                     8.87|
            |QAT  |Qatar                            |                     1.26|                     5.50|
            |RUS  |Russia                           |                     5.14|                     5.25|
            |RWA  |Rwanda                           |                     0.12|                     2.86|
            |SAU  |Saudi Arabia                     |                     0.44|                     1.67|
            |SDN  |Sudan                            |                     0.00|                    10.00|
            |SEN  |Senegal                          |                     0.02|                     8.83|
            |SGP  |Singapore                        |                     0.62|                     3.99|
            |SHN  |Saint Helena                     |                     0.07|                     9.33|
            |SLB  |Solomon Islands                  |                     0.61|                     7.54|
            |SLE  |Sierra Leone                     |                     0.33|                     8.30|
            |SLV  |El Salvador                      |                     1.64|                    11.06|
            |SMR  |San Marino                       |                     3.31|                    20.29|
            |SOM  |Somalia                          |                     3.34|                    19.64|
            |SPM  |Saint Pierre and Miquelon        |                     0.00|                     0.02|
            |SRB  |Serbia                           |                     3.29|                    35.11|
            |SSD  |South Sudan                      |                     0.05|                     9.79|
            |STP  |São Tomé and Príncipe            |                     0.76|                    13.91|
            |SUR  |Suriname                         |                     0.31|                    10.19|
            |SWZ  |Eswatini (Swaziland)             |                     0.20|                    14.29|
            |SXM  |Sint Maarten                     |                     0.01|                     0.20|
            |SYC  |Seychelles                       |                     0.84|                    12.24|
            |SYR  |Syria                            |                     1.94|                    30.84|
            |TCA  |Turks and Caicos Islands         |                     0.48|                     7.36|
            |TCD  |Chad                             |                     0.00|                     0.85|
            |TGO  |Togo                             |                     0.02|                    11.15|
            |THA  |Thailand                         |                     2.44|                    21.65|
            |TJK  |Tajikistan                       |                     0.15|                     2.14|
            |TKL  |Tokelau                          |                     0.82|                     5.85|
            |TKM  |Turkmenistan                     |                     0.10|                     1.71|
            |TLS  |Timor-Leste                      |                     0.59|                     2.76|
            |TON  |Tonga                            |                     1.65|                    13.43|
            |TTO  |Trinidad and Tobago              |                     0.05|                     5.85|
            |TUN  |Tunisia                          |                     2.66|                    27.20|
            |TUR  |Turkey                           |                     4.83|                    22.96|
            |TUV  |Tuvalu                           |                     5.05|                    17.15|
            |TWN  |Taiwan                           |                     2.16|                    16.45|
            |TZA  |Tanzania                         |                     0.02|                    18.16|
            |UGA  |Uganda                           |                     0.21|                     2.88|
            |UKR  |Ukraine                          |                     1.24|                    18.37|
            |URY  |Uruguay                          |                     8.57|                    11.63|
            |UZB  |Uzbekistan                       |                     3.76|                    17.65|
            |VAT  |Vatican City                     |                     2.43|                    11.94|
            |VCT  |Saint Vincent and the Grenadines |                     0.02|                     7.01|
            |VEN  |Venezuela                        |                     0.15|                     0.88|
            |VGB  |British Virgin Islands           |                     0.02|                     8.85|
            |VNM  |Vietnam                          |                     4.37|                    23.16|
            |VUT  |Vanuatu                          |                     0.04|                    14.96|
            |WLF  |Wallis and Futuna                |                     2.06|                    15.66|
            |WSM  |Samoa                            |                     0.69|                     2.50|
            |YEM  |Yemen                            |                     2.90|                     9.25|
            |ZAF  |South Africa                     |                     0.71|                    14.41|
            |ZMB  |Zambia                           |                     0.58|                    12.49|
            |ZWE  |Zimbabwe                         |                     3.90|                    17.64|
            Above is a markdown table which contains the same data as the interactive map on this page:
            However, for fully up-to-date data the user should visit the interactive map on https://bakered.github.io/dump_htmls/trump_tariffs/templates/simple_w_data.html
        </p>
        </div>  

    <div style="font-size: 8.5px; margin-top: -20px; color: #555; padding-right: 25Px; padding-left: 50px;">
        <p><em>Source:</em> UNCTAD Secretariat, based on UN Comtrade, UNCTAD TRAINS and Presidential actions, including the Executive Orders published by the White House.
            <br><em>Note:</em> Trade weights for the year 2023. 
            <em>Map disclaimer:</em> https://unctad.org/map-disclaimer</p>
    </div>

      <div style="height: 4px; background-color: #009EDB; margin: 0;"></div>


</div>

    <!-- Load the simple JS logic -->
    <script type="module" src="../static/simple.js"></script>

    <script>
        const slider = document.getElementById('tariff_structureSlider');
        
        function updateSliderBackground() {
          const min = +slider.min;
          const max = +slider.max;
          const val = +slider.value;
        
          const percent = ((val - min) / (max - min)) * 100;
        
          slider.style.background = `linear-gradient(to right, #009EDB 0%, #009EDB ${percent}%, #ffffff ${percent}%, #ffffff 100%)`;
        }
        
        // Initialize and update on input
        slider.addEventListener('input', updateSliderBackground);
        updateSliderBackground();
        </script>

    <script>
        async function injectLLMData() {
        try {
            const res = await fetch('../static/data/mapData.json'); // absolute path
            if (!res.ok) {
            console.error('Failed to load mapData.json:', res.status);
            return;
            }

            const mapData = await res.json();

            // Inject for LLMs
            const script = document.createElement('script');
            script.type = 'application/json';
            script.id = 'llm-map-data';
            script.textContent = JSON.stringify(mapData);
            document.head.appendChild(script);

        } catch (err) {
            console.error('Error loading LLM data:', err);
        }
        }

        document.addEventListener('DOMContentLoaded', injectLLMData);
    </script>

</body>
</html>
